.App{
  background-color: #1f1f1f;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.row{
  display: flex;
  gap: 20px;
}
.card{
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 2%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
.card:hover{
  background-color: gray;
}
